div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    margin: 0 auto;
    
    width: 960px;
}

#header {
    height: 150px;
}

#navigation {
    float: left;
    
    margin-top: 20px;
    
    width: 130px;
}

#content {
    margin-top: 20px;
    margin-left: 180px;
    
    padding: 10px;
    
    width: 780px;
    min-height: 300px;
    
    overflow: hidden;
}

#footer {
    height: 80px;
}