html {
    padding-top: 100px;
    padding-left: 100px;
    
    overflow: hidden;

    font-family: 'The Girl Next Door';

    background-color: #888;
    
    counter-reset: delay;
}

@keyframes throw-in {
    from {
        transform: translate(1200px, 800px) rotate(180deg) rotateY(90deg);
    }
    to {
    }
}

#images a {
    display: block;
    position: relative;
    float: left;
    
    margin-right: 30px;
    margin-bottom: 25px;
    padding: 10px;
    padding-bottom: 15px;
    
    width: 250px;
    min-height: 250px;
    z-index: 2;
    
    color: #242459;
    background-color: white;
    
    font-size: 2em;
    text-decoration: none;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    
    box-shadow: -10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    
    animation: throw-in 2s;
    transition: all 1.5s;
    transform: rotate(5deg);
}

#images a:before {
    content: "By " attr(data-by);
    
    display: block;
    position: absolute;
    bottom: 30px;
    margin-bottom: -20px;
    padding: 0;
    overflow: hidden;
    
    width: 250px;
    height: 20px;
    
    opacity: 0;
    
    font-size: 0.5em;
    text-align: left;
    word-break: break-all;
    
    transition: opacity 1s;
    transition-delay: 0s;
}

#images a:after {
    content: attr(title);
    
    display: block;
    margin-top: -5px;
    padding: 0;
    
    width: 250px;
    
    text-align: center;
    
    transform: rotate(-3deg) scale(1.05);
}

#images a:nth-child(3n - 2) {
    z-index: 3;
    transform: rotate(10deg) scale(1.1);
}

#images a:nth-child(3n) {
    z-index: 1;
    transform: rotate(-10deg) scale(1.2);
}

#images a:nth-child(4n - 3):after {
    transform: rotate(5deg) scale(1.1);
}

#images a:nth-child(3n):after {
    color: #2e2e73;
    transform: rotate(2deg) scale(1.25);
}

#images a:nth-child(1):after {
    font-size: 0.9em;
}

#images a:nth-child(4):after {
    font-size: 0.9em;
}

#images a:hover, #images a:focus {
    z-index: 10;
    transform: scale(1.7);
}

@keyframes write {
    from {
        width: 0;
    }
    50% {
        width: 100px;
    }
    to {
        width: 250px;
    }
}

#images a:hover:before {
    opacity: 0.8;
    
    animation: write 3s steps(50);
    animation-delay: 1s;
    transition: all 1s;
    transition-delay: 1s;
}

#images img {
    margin: 0;
    width: 100%;
}

p {
    position: fixed;
    right: 10px;
    bottom: 5px;
    margin: 0;

    color: white;
    font-size: 1.8em;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transform: rotate(-3deg);
}

/**
 * Chrome support
 * Firefox does fine without any bendor prefixes so let us not clutter the code
 */

@-webkit-keyframes throw-in {
    from {
        -webkit-transform: translate(1200px, 800px) rotate(180deg) rotateY(90deg);
    }
    to {
    }
}

#images a {
    -webkit-animation: throw-in 2s;
    -webkit-transition: all 1.5s;
    -webkit-transform: rotate(5deg);
}

#images a:before {
    -webkit-transition: opacity 1s;
    -webkit-transition-delay: 0s;
}

#images a:after {
    -webkit-transform: rotate(-3deg) scale(1.05);
}

#images a:nth-child(3n - 2) {
    -webkit-transform: rotate(10deg) scale(1.1);
}

#images a:nth-child(3n) {
    -webkit-transform: rotate(-10deg) scale(1.2);
}

#images a:nth-child(4n - 3):after {
    -webkit-transform: rotate(5deg) scale(1.1);
}

#images a:nth-child(3n):after {
    -webkit-transform: rotate(2deg) scale(1.25);
}

#images a:hover, #images a:focus {
    -webkit-transform: scale(1.7);
}

@-webkit-keyframes write {
    from {
        width: 0;
    }
    to {
        width: 250px;
    }
}

#images a:hover:before, #images a:focus:before {
    -webkit-animation: write 2s;
    -webkit-animation-delay: 1s;
    -webkit-transition: all 1s;
    -webkit-transition-delay: 1s;
}

p {
    -webkit-transform: rotate(-3deg);
}